*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.icons{
    display: flex;
    gap: 15px;
    justify-content: end;
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 10px;
}
.icons img{
    margin-top: 3px;
    height: 30px;
    margin-right: 20px;
}
.icons img:hover{
    height: 32px;
}
.matches{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    padding-left: 1130px;
    position:fixed;
}
.matches a img:hover{
    border: 4px solid yellow;
}
.bottom{
    display: flex;
    justify-content: space-between;
    position:fixed;
    z-index: 1000;
    gap: 1030px;
    top: 330px;
    right: 10px;
}
.store{
    height: 40px;
    background-color: yellow;
    border-radius: 5px;
    border: 2px solid yellow;
    font-weight: bolder;
    margin-top: 175px;
    width: 100px;
    margin-left: 10px;
}
.store:hover{
    background-color: gold;
    border: 4px solid yellow;
}
.START{
    width: 100px;
    margin-top: 175px;
    margin-right: 10px;
    background-color: yellow;
    border-radius: 5px;
    height: 40px;
    font-weight: bolder;
    border: 2px solid yellow;
    margin-left: 10px;
    font-size: 11px;
}
.START:hover{
    background-color: gold;
    border: 4px solid yellow;
}


